body {
    font-size: 150%;
}

#navMain {
    font-family: 'Rock Salt', 'Rancho';
    font-size: 100%;
    text-transform: uppercase;
    background-color: #735134;
    border-bottom: 1px solid gold;
}

#navMain .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: rgba(255, 255, 255, 0.973);
}

#navMain a {
    color: rgba(255, 255, 255, 0.973);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

#navMain .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#navMain .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #navMain {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        letter-spacing: 1px;
        background: transparent;
    }
    #navMain .nav-link.active {
        outline: none;
        background-color: rgba(26, 25, 24, 0.699);
    }
    #navMain .nav-link.active:hover {
        color: white;
    }
    #navMain.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #735134;
    }
    #navMain.navbar-shrink a {
        color: rgba(255, 255, 255, 0.973);
    }
}

header {
    text-align: center;
    padding-top: 4.5rem;
    padding-bottom: 1rem;
    font-family: 'Julee';
    font-weight: 900;
    color: white;
    background-color: #735134;
}

.col-md-12 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.book-container {
    position: relative;
    margin: auto;
}

.book-slides img {
    height: 320px;
    width: 90%;
}

/* Slideshow container */

/* .slideshow-container {
    max-width: 80px;
    position: relative;
    margin: auto;
} */

/* TESTIMONIALS */

.testimonials img {
    height: 100px;
    width: 100px;
    float: right;
    border-radius: 50px;
}

.testimonials {
    background-color: #A0A391;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Second Slideshow begins here */

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

.about-us {
    background-color: rgba(128, 128, 128, 0.219);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Footer */

.footer {
    background-color: #735134;
    padding: 1em 0em 1em 0em;
    text-align: center;
    color: white;
    font-family: 'Julee';
}

form input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* background when someone puts focus */

form input:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 1px solid black;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.7;
    float: left;
}

button:hover {
    opacity: 2;
}

.cancelbtn {
    background-color: #f44336;
}

.modal-content {
    padding-top: 3%;
    padding-bottom: 3%;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .registerbtn {
        width: 100%;
    }
}